<ul class="nav nav-pills mb-3 border-bottom border-secondary" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="creditNotes" data-toggle="pill" (click)="DebitNoteFun()" href="#pills-add" role="tab"
      aria-controls="pills-add" aria-selected="true">Debit Note</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="creditHistory" data-toggle="pill" (click)="DebitNoteHistory()" href="#pills-edit" role="tab"
      aria-controls="pills-edit" aria-selected="true">History</a>
  </li>
</ul>

<div *ngIf="debitNote">
  <div class="tab-content" id="pills-tabContent">

    <div class="tab-pane fade show active" id="pills-new" role="tabpanel" aria-labelledby="pills-home-tab">

      <form #debitNoteForm="ngForm" [formGroup]="debitNoteInformationForm" (keydown.enter)="$event.preventDefault()"
        (ngSubmit)="onSubmit()" class="full-height">
        <h6 class="border border-primary p-2 mt-3 mb-4 bg-light text-white">Debit Note Details</h6>

        <div class="row" id="purchaseReturns">
          <div class="col-lg-3">
            <div class="form-group row">
              <label for="" class="col-sm-4 col-form-label px-0 text-right" id="debitCreditNoteLabelDN">DN #
                <span class="text-danger">*</span>
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="debitCreditNoteDN" placeholder="DN Number"
                  [(ngModel)]="debitNoteNo" formControlName="debitNoteNo" disabled>
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-4 col-form-label px-0 text-right" id="debitCreditNoteLabelDnDate">Date
                <span class="text-danger">*</span>
              </label>
              <div class="col-sm-8">
                <input type="date" class="form-control" id="debitCreditNoteDnDate" placeholder=""
                  formControlName="debitDate" name="debitDate" disabled>
                <div *ngIf="debitNoteInformationForm.get('debitDate')?.touched" class="error-msg-common text-danger">
                  <div *ngIf="debitNoteInformationForm.get('debitDate').errors?.required">
                    * required field
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="" class="col-sm-4 col-form-label px-0 text-right" id="paymentsLabelRoundOff">Status</label>
              <div class="col-sm-8">
                <ng-select placeholder="-- select --" (change)="statusSelected($event)" id="debitInputSupplier"
                  [items]="status" bindLabel="name" [(ngModel)]="selectedStatus" formControlName="selectedStatus">
                </ng-select>
                <div *ngIf="debitNoteInformationForm.get('selectedStatus')?.touched"
                  class="error-msg-common text-danger">
                  <div *ngIf="debitNoteInformationForm.get('selectedStatus').errors?.required">
                    * required field
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="" class="col-sm-8 col-form-label px-0 text-center h3" id="paymentsLabelAmtPaid">Net Amount
                :</label>
              <div class="col-sm-0 text-center pt-0">
                <h5 class="mb-2 pt-2"> {{netAmount}}</h5>

              </div>
            </div>


          </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <div class="col-sm-12 justify-content-end d-flex pt-2 px-0">
                    <div class="d-inline mr-3">
                      <label id="" class="mb-0">Return Type</label>
                    </div>
                    <div class="custom-control d-inline custom-radio mr-3">
                      <input (change)="onTypeChange($event)" name="ret-type" type="radio" value="Y"
                        class="custom-control-input" id="purchase" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="type1" name="type1">
                      <label id="" class="custom-control-label" for="purchase">Purchase</label>
                    </div>
                    <div class="custom-control d-inline custom-radio">
                      <input (change)="onTypeChange($event)" name="ret-type" type="radio" value="N"
                        class="custom-control-input" id="sales" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="type1" name="type1">
                      <label id="" class="custom-control-label" for="sales">Sales</label>
                    </div>
                  </div>
                </div>
                <div class="form-group row pt-2" id="creditInvoice">
                  <label for="" class="col-sm-4 col-form-label px-0 text-right" id="debitCreditNoteLabelInvoice">Invoice
                    No<span class="text-danger">*</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="debitcreditNoteInvoice" placeholder="Invoice Number"
                      [(ngModel)]="invoiceId" formControlName="invoiceId">
                    <div *ngIf="debitNoteInformationForm.get('invoiceId')?.touched"
                      class="error-msg-common text-danger">
                      <div *ngIf="debitNoteInformationForm.get('invoiceId').errors?.required">
                        * required field
                      </div>
                    </div>
                    <div *ngIf="debitNoteInformationForm.get('invoiceId')?.invalid"
                      class="error-msg-common text-danger">
                      <div
                        *ngIf="!debitNoteInformationForm.get('invoiceId').errors?.required && debitNoteInformationForm?.get('invoiceId')?.errors">
                        * not a valid input
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row pt-2" id="creditInvoice">
                  <label for="" class="col-sm-4 col-form-label px-0 text-right"
                    id="debitCreditNoteLabelInvoice">Tax
                    <span class="text-danger">*</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="debitcreditNoteInvoice" placeholder="Enter Value"
                      formControlName="tax" (keyup)="taxEntered($event)">
                    <div *ngIf="debitNoteInformationForm.get('tax')?.invalid" class="error-msg-common text-danger">
                      <div
                        *ngIf="!debitNoteInformationForm.get('tax').errors?.required && debitNoteInformationForm?.get('tax')?.errors">
                        * not a valid input
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="showApproveByDate" class="form-group row">
                  <label for="" class="col-sm-4 col-form-label px-0 text-right" id="debitCreditNoteLabelDnDate">Approved
                    By

                  </label>
                  <div class="col-sm-8">

                    <input type="text" class="form-control" id="debitCreditNoteDnDate" placeholder="Approved By"
                      formControlName="approvedByEmp" value={{this.approvedEmpName}} disabled>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <ng-select [items]="purchaseReturns" bindLabel="purchase" id=""
                      placeholder="purchase / sales return types" [(ngModel)]="purchaseReturnType"
                      formControlName="returnTypeReason">
                    </ng-select>
                    <div *ngIf="debitNoteInformationForm.get('returnTypeReason')?.touched"
                      class="error-msg-common text-danger">
                      <div *ngIf="debitNoteInformationForm.get('returnTypeReason').errors?.required">
                        * required field
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="" class="col-sm-4 col-form-label px-0 text-right"
                    id="debitCreditNoteLabelName">Supplier</label>
                  <div class="col-sm-8">
                    <ng-select [(ngModel)]="selectedSupplier" formControlName="selectedSupplier"
                      placeholder="-- select --" [items]="suppliers" bindLabel="name" id="creditInputSupplier">
                    </ng-select>

                  </div>
                </div>

                <div class="form-group row pt-2" id="creditInvoice">
                  <label for="" class="col-sm-4 col-form-label px-0 text-right"
                    id="debitCreditNoteLabelInvoice">Discount</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" (keyup)="onDiscountEntered($event)"
                      id="debitcreditNoteInvoice" placeholder="Enter Disc %" formControlName="discount">
                    <div *ngIf="debitNoteInformationForm.get('discount')?.invalid" class="error-msg-common text-danger">
                      <div
                        *ngIf="!debitNoteInformationForm.get('discount').errors?.required && debitNoteInformationForm?.get('discount')?.errors">
                        * not a valid input
                      </div>
                    </div>

                  </div>
                </div>

                <div *ngIf="showApproveByDate" class="form-group row">
                  <label for="" class="col-sm-4 col-form-label px-0 text-right" id="debitCreditNoteLabelDnDate">Approved
                    Date

                  </label>
                  <div class="col-sm-8">

                    <input type="date" class="form-control" id="debitCreditNoteDnDate" placeholder=""
                      formControlName="approvedDate" disabled>

                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="form-group row">
              <label for="" class="col-sm-4 col-form-label px-0 text-right" id="debitCreditNoteLabelAmount">Amount
                <span class="text-danger">*</span>
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="debitCreditNoteAmount" placeholder="Amount"
                  [(ngModel)]="amount" (keyup)="amountEntered($event)" formControlName="amount">
                <div *ngIf="debitNoteInformationForm.get('amount')?.touched" class="error-msg-common text-danger">
                  <div *ngIf="debitNoteInformationForm.get('amount').errors?.required">
                    * required field
                  </div>
                </div>
                <div *ngIf="debitNoteInformationForm.get('amount')?.invalid" class="error-msg-common text-danger">
                  <div
                    *ngIf="!debitNoteInformationForm.get('amount').errors?.required && debitNoteInformationForm?.get('amount')?.errors">
                    * not a valid input
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="" class="col-sm-4 col-form-label px-0 text-right" id="debitCreditNoteLabelPaymentStatus">Pay
                Type
                <span class="text-danger">*</span>
              </label>
              <div class="col-sm-8">
                <ng-select placeholder="-- select --" [items]="paymentTypes" [(ngModel)]="selectedPaymentType"
                  bindLabel="type" formControlName="paymentType">
                </ng-select>
                <div *ngIf="debitNoteInformationForm.get('paymentType')?.touched" class="error-msg-common text-danger">
                  <div *ngIf="debitNoteInformationForm.get('paymentType').errors?.required">
                    * required field
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
        <div class="row" id="salesReturns" style="display:none">
          <div class="col-lg-3">
            <div class="form-group row">
              <label for="" class="col-sm-4 col-form-label px-0 text-right" id="debitCreditNoteLabelDN">DN #
                <span class="text-danger">*</span>
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="debitCreditNoteDN" placeholder="DN Number"
                  [ngModelOptions]="{standalone: true}" [(ngModel)]="debitNoteNo" disabled>
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-4 col-form-label px-0 text-right" id="debitCreditNoteLabelDnDate">Date
                <span class="text-danger">*</span>
              </label>
              <div class="col-sm-8">

                <input type="date" class="form-control" id="debitCreditNoteDnDate" placeholder=""
                  formControlName="debitDate" disabled>
                <div *ngIf="debitNoteInformationForm.get('debitDate')?.touched" class="error-msg-common text-danger">
                  <div *ngIf="debitNoteInformationForm.get('debitDate').errors?.required">
                    * required field
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-4 col-form-label px-0 text-right" id="paymentsLabelRoundOff">Status</label>
              <div class="col-sm-8">
                <ng-select placeholder="-- select --" (change)="statusSelected($event)" id="debitInputSupplier"
                  [items]="status" bindLabel="name" [(ngModel)]="selectedStatus" formControlName="selectedStatus">
                </ng-select>
                <div *ngIf="debitNoteInformationForm.get('selectedStatus')?.touched"
                  class="error-msg-common text-danger">
                  <div *ngIf="debitNoteInformationForm.get('selectedStatus').errors?.required">
                    * required field
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="" class="col-sm-8 col-form-label px-0 text-center h3" id="paymentsLabelAmtPaid">Net Amount
                :</label>
              <div class="col-sm-0 text-center pt-0">
                <h5 class="mb-2 pt-2"> {{netAmount}}</h5>

              </div>
            </div>


          </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <div class="col-sm-12 justify-content-end d-flex pt-2 px-0">
                    <div class="d-inline mr-3">
                      <label id="" class="mb-0">Return Type</label>
                    </div>
                    <div class="custom-control d-inline custom-radio mr-3">
                      <input name="ret-type" type="radio" value="Y" class="custom-control-input" id="purchase"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="type2" name="type2">
                      <label id="" class="custom-control-label" for="purchase">Purchase</label>
                    </div>
                    <div class="custom-control d-inline custom-radio">
                      <input name="ret-type" type="radio" value="N" class="custom-control-input" id="sales"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="type2" name="type2">
                      <label id="" class="custom-control-label" for="sales">Sales</label>
                    </div>
                  </div>
                </div>
                <div class="form-group row pt-2" id="creditInvoice">
                  <label for="" class="col-sm-4 col-form-label px-0 text-right" id="debitCreditNoteLabelInvoice">Bill
                    No<span class="text-danger">*</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="debitcreditNoteInvoice" placeholder="Bill Number"
                      formControlName="billId">
                    <div *ngIf="debitNoteInformationForm.get('billId')?.touched" class="error-msg-common text-danger">
                      <div *ngIf="debitNoteInformationForm.get('billId').errors?.required">
                        * required field
                      </div>
                    </div>
                    <div *ngIf="debitNoteInformationForm.get('billId')?.invalid" class="error-msg-common text-danger">
                      <div
                        *ngIf="!debitNoteInformationForm.get('billId').errors?.required && debitNoteInformationForm?.get('billId')?.errors">
                        * not a valid input
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row pt-2" id="creditInvoice">
                  <label for="" class="col-sm-4 col-form-label px-0 text-right"
                    id="debitCreditNoteLabelInvoice">Tax
                    <span class="text-danger">*</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="debitcreditNoteInvoice" placeholder="Enter Value"
                      formControlName="tax" (keyup)="taxEntered($event)">
                    <div *ngIf="debitNoteInformationForm.get('tax')?.invalid" class="error-msg-common text-danger">
                      <div
                        *ngIf="!debitNoteInformationForm.get('tax').errors?.required && debitNoteInformationForm?.get('tax')?.errors">
                        * not a valid input
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="showApproveByDate" class="form-group row">
                  <label for="" class="col-sm-4 col-form-label px-0 text-right" id="debitCreditNoteLabelDnDate">Approved
                    By

                  </label>
                  <div class="col-sm-8">

                    <input type="text" class="form-control" id="debitCreditNoteDnDate" placeholder="Approved By"
                      formControlName="approvedByEmp" value={{this.approvedEmpName}} disabled>
                  </div>
                </div>

              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <ng-select [items]="salesReturn" bindLabel="sales" id="" placeholder="purchase / sales return types"
                      [(ngModel)]="salesReturnType" formControlName="returnTypeReason">
                    </ng-select>
                    <div *ngIf="debitNoteInformationForm.get('returnTypeReason')?.touched"
                      class="error-msg-common text-danger">
                      <div *ngIf="debitNoteInformationForm.get('returnTypeReason').errors?.required">
                        * required field
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="" class="col-sm-4 col-form-label px-0 text-right"
                    id="debitCreditNoteLabelName">Customer</label>
                  <div class="col-sm-8">
                    <ng-select placeholder="-- select --" id="receiptPayment" [items]="customers"
                      bindLabel="customerName" formControlName="selectedCustomer" (search)="onCustomerSearch($event)"
                      [(ngModel)]="selectedCustomer">
                    </ng-select>
                  </div>
                </div>

                <div class="form-group row pt-2" id="creditInvoice">
                  <label for="" class="col-sm-4 col-form-label px-0 text-right"
                    id="debitCreditNoteLabelInvoice">Discount</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="debitcreditNoteInvoice" placeholder="Enter Disc %"
                      (keyup)="onDiscountEntered($event)" formControlName="discount">

                    <div *ngIf="debitNoteInformationForm.get('discount')?.invalid" class="error-msg-common text-danger">
                      <div
                        *ngIf="!debitNoteInformationForm.get('discount').errors?.required && debitNoteInformationForm?.get('discount')?.errors">
                        * not a valid input
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="showApproveByDate" class="form-group row">
                  <label for="" class="col-sm-4 col-form-label px-0 text-right" id="debitCreditNoteLabelDnDate">Approved
                    Date
                  </label>
                  <div class="col-sm-8">
                    <input type="date" class="form-control" id="debitCreditNoteDnDate" placeholder=""
                      formControlName="approvedDate" disabled>

                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="form-group row">
              <label for="" class="col-sm-4 col-form-label px-0 text-right" id="debitCreditNoteLabelAmount">Amount
                <span class="text-danger">*</span>
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="debitCreditNoteAmount" placeholder="Amount"
                  [(ngModel)]="amount" (keyup)="amountEntered($event)" formControlName="amount">
                <div *ngIf="debitNoteInformationForm.get('amount')?.touched" class="error-msg-common text-danger">
                  <div *ngIf="debitNoteInformationForm.get('amount').errors?.required">
                    * required field
                  </div>
                </div>
                <div *ngIf="debitNoteInformationForm.get('amount')?.invalid" class="error-msg-common text-danger">
                  <div
                    *ngIf="!debitNoteInformationForm.get('amount').errors?.required && debitNoteInformationForm?.get('amount')?.errors">
                    * not a valid input
                  </div>
                </div>
              </div>
            </div>


            <div class="form-group row">
              <label for="" class="col-sm-4 col-form-label px-0 text-right" id="debitCreditNoteLabelPaymentStatus">Pay
                Type
                <span class="text-danger">*</span>
              </label>
              <div class="col-sm-8">
                <ng-select placeholder="-- select --" [items]="paymentTypes" bindLabel="type"
                  formControlName="paymentType">
                </ng-select>
                <div *ngIf="debitNoteInformationForm.get('paymentType')?.touched" class="error-msg-common text-danger">
                  <div *ngIf="debitNoteInformationForm.get('paymentType').errors?.required">
                    * required field
                  </div>
                </div>

              </div>
            </div>


          </div>
        </div>

        <div class="row">
          <div class="col-3"></div>
          <div class="col-6">
            <label for="" class="col-form-label px-0 text-center w-100" id="debitCreditNoteLabelRemarks">Remarks</label>
            <textarea name="" class="form-control" id="debitCreditNoteRemarks" cols="30" rows="6"
              formControlName="remarks"></textarea>
          </div>
          <div class="col-3"></div>
        </div>

        <div class="row">
          <div class="col mb-3 pt-2 text-center">
            <button class="btn btn-primary px-4" [disabled]="checkFormDisability()">Save</button>
            <input type="button" class="btn btn-secondary px-4 ml-3" (click)="onResetDebitNote()" value="Cancel">
          </div>
        </div>

        <div *ngIf="statusGrid" class="itemSearchModal" id="itemSearchModal" tabindex="-1" role="dialog"
          aria-labelledby="itemSearchModalLabel">
          <div class="modal-dialog" style="margin-top: 220px" role="document">
            <div class="modal-content" style="height: 250px">
              <div class="modal-body">

                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group row">
                      <label for="" class="col-sm-4 col-form-label px-0 text-right" id="CreditNoteLabelDnDate">Approved
                        By

                      </label>
                      <div class="col-sm-8">
                        <ng-select placeholder="-- select --" id="CreditNoteDnDate" [items]="employees"
                          (change)="selectedEmployee($event)" bindLabel="empName" formControlName="approvedBy"
                          [ngModel]="approvedBy">
                        </ng-select>


                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="" class="col-sm-4 col-form-label px-0 text-right" id="CreditNoteLabelDnDate">Approved
                        Pin
                      </label>
                      <div class="col-sm-8">
                        <div class="buttonInside">
                          <input type="text" (keyup)="pinEnter($event)" placeholder="Approved Pin"
                            [type]="show ? 'text' : 'password'" class="form-control" id="debitCreditNoteDnDate"
                            formControlName="approvedPin">

                        </div>
                        <div *ngIf="debitNoteInformationForm.get('approvedPin')?.invalid"
                          class="error-msg-common text-danger">
                          <div
                            *ngIf="!debitNoteInformationForm.get('approvedPin').errors?.required && debitNoteInformationForm?.get('approvedPin')?.errors">
                            * not a valid input
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>



                </div>
              </div>
              <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-primary px-4 mr-2" (click)="savePin()"
                  [disabled]="makePin">OK</button>

                <button type="button" class="btn btn-secondary px-4" data-dismiss="modal"
                  (click)="close()">Close</button>
              </div>
            </div>
          </div>
        </div>
      </form>

    </div>

  </div>
</div>

<div *ngIf="history">

  <h6 class="border border-primary p-2 mt-3 mb-4 bg-light text-white">Debit Note History</h6>
  <div class="row">
    <div class="col">
      <form class="form-inline">
        <ng-select [items]="searchType" bindLabel="name" placeholder="-- select --" (change)="onTypeSelection($event)">
        </ng-select>
        <input class="form-control no-right-border-radius" type="text" placeholder="Invoice No/Bill No"
          aria-label="Search" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone:true}" (keyup)="onSearch($event)">

      </form>
    </div>

  </div>



  <div class="tab-content" id="pills-tabContent">

    <div class="tab-pane fade show active" id="pills-new" role="tabpanel" aria-labelledby="pills-home-tab">

      <div class="row">
        <div class="col-12 pb-4">
          <ag-grid-angular [rowData]="rowData" [gridOptions]="debitNoteHistoryGridOptions"
            style="width: 100%; height: 400px;" class="ag-theme-balham" [columnDefs]="creditGridDefs"
            [paginationPageSize]="paginationSize" [pagination]="true" (cellClicked)="onCellClicked($event)">
          </ag-grid-angular>
        </div>
      </div>
    </div>
  </div>

</div>
<ng4-loading-spinner [loadingText]="'Please wait...'" [timeout]="400000000"> </ng4-loading-spinner>



<div class="modal fade" id="approvedModal" tabindex="-1" role="dialog" aria-labelledby="pendingLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Debit Note Details</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="tab-content" id="pills-tabContent">

          <div class="tab-pane fade show active" id="pills-new" role="tabpanel" aria-labelledby="pills-home-tab">

            <form #debitNoteForm="ngForm" [formGroup]="debitNotePopForm" (keydown.enter)="$event.preventDefault()"
              (ngSubmit)="onSubmit()" class="full-height">
              <h6 class="border border-primary p-2 mt-3 mb-4 bg-light text-white">Debit Note Details</h6>

              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group row">
                    <label for="" class="col-sm-4 col-form-label px-0 text-right" id="debitCreditNoteLabelDN">DN #
                      <span class="text-danger">*</span>
                    </label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="debitCreditNoteDN" placeholder="DN Number"
                        formControlName="debitNoteNumber" disabled>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="" class="col-sm-4 col-form-label px-0 text-right" id="debitCreditNoteLabelDnDate">Date
                      <span class="text-danger">*</span>
                    </label>
                    <div class="col-sm-8">
                      <input type="date" class="form-control" id="debitCreditNoteDnDate" placeholder=""
                        formControlName="debitRaisedDate" name="debitDate" disabled>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="" class="col-sm-4 col-form-label px-0 text-right"
                      id="paymentsLabelRoundOff">Status</label>
                    <div class="col-sm-8">
                      <ng-select placeholder="-- select --" [items]="status" bindLabel="name" formControlName="status">
                      </ng-select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="" class="col-sm-8 col-form-label px-0 text-center h3" id="paymentsLabelAmtPaid">Net
                      Amount
                      :</label>
                    <div class="col-sm-0 text-center pt-0">
                      <h5 class="mb-2 pt-2"> {{finalAmount}}</h5>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="col-sm-12 justify-content-end d-flex pt-2 px-0">
                          <div class="d-inline mr-3">
                            <label id="" class="mb-0">Return Type</label>
                          </div>
                          <div class="custom-control d-inline custom-radio mr-3">
                            <input name="ret-type" type="radio" value="Y" class="custom-control-input" id="purchase"
                              name="type1">
                            <label id="" class="custom-control-label" for="purchase">Purchase</label>
                          </div>
                          <div class="custom-control d-inline custom-radio">
                            <input name="ret-type" type="radio" value="N" class="custom-control-input" id="sales"
                              name="type1">
                            <label id="" class="custom-control-label" for="sales">Sales</label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row pt-2" id="creditInvoiceDiv" *ngIf="supplierDiv">
                        <label for="" class="col-sm-4 col-form-label px-0 text-right"
                          id="debitCreditNoteLabelInvoice">Invoice
                          No<span class="text-danger">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="debitcreditNoteInvoice"
                            placeholder="Invoice Number" formControlName="invoiceNo" disabled>
                        </div>
                      </div>
                      <div class="form-group row pt-2" id="creditInvoiceDiv" *ngIf="customerDiv">
                        <label for="" class="col-sm-4 col-form-label px-0 text-right"
                          id="debitCreditNoteLabelInvoice">Bill No
                          <span class="text-danger">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="debitcreditNoteInvoice"
                            placeholder="Invoice Number" formControlName="billNo" disabled>
                        </div>
                      </div>

                      <div class="form-group row pt-2">
                        <label for="" class="col-sm-4 col-form-label px-0 text-right"
                          id="debitCreditNoteLabelInvoice">Tax</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="debitcreditNoteInvoice" placeholder="Enter Value"
                            formControlName="taxRate" disabled>

                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group row">
                        <div class="col-sm-12">
                          <ng-select [items]="purchaseReturns" bindLabel="purchase" id=""
                            placeholder="purchase / sales return types" formControlName="returnTypeReasons">
                          </ng-select>

                        </div>
                      </div>
                      <div class="form-group row" *ngIf="supplierDiv">
                        <label for="" class="col-sm-4 col-form-label px-0 text-right"
                          id="debitCreditNoteLabelName">Supplier</label>
                        <div class="col-sm-8">
                          <ng-select formControlName="supplier" placeholder="-- select --">
                          </ng-select>
                        </div>
                      </div>
                      <div class="form-group row" *ngIf="customerDiv">
                        <label for="" class="col-sm-4 col-form-label px-0 text-right"
                          id="debitCreditNoteLabelName">Customer</label>
                        <div class="col-sm-8">
                          <ng-select formControlName="customer" placeholder="-- select --">
                          </ng-select>
                        </div>
                      </div>

                      <div class="form-group row pt-2">
                        <label for="" class="col-sm-4 col-form-label px-0 text-right"
                          id="debitCreditNoteLabelInvoice">Discount</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" disabled id="debitcreditNoteInvoice"
                            placeholder="Enter Disc %" formControlName="discountAmt">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3">
                  <div class="form-group row">
                    <label for="" class="col-sm-4 col-form-label px-0 text-right" id="debitCreditNoteLabelAmount">Amount
                      <span class="text-danger">*</span>
                    </label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="debitCreditNoteAmount" placeholder="Amount"
                        formControlName="amt" disabled>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="" class="col-sm-4 col-form-label px-0 text-right"
                      id="debitCreditNoteLabelPaymentStatus">Pay
                      Type
                      <span class="text-danger">*</span>
                    </label>
                    <div class="col-sm-8">
                      <ng-select placeholder="-- select --" [items]="paymentTypes" bindLabel="type"
                        formControlName="payType">
                      </ng-select>

                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="" class="col-sm-4 col-form-label px-0 text-right">Payment
                      Status

                    </label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" formControlName="payStatus" disabled>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                  <label for="" class="col-form-label px-0 text-center w-100"
                    id="debitCreditNoteLabelRemarks">Remarks</label>
                  <textarea name="" class="form-control" id="debitCreditNoteRemarks" cols="30" rows="6"
                    formControlName="remarksInfo" disabled></textarea>
                </div>
                <div class="col-3"></div>
              </div>

              <div class="row">
                <div class="col mb-3 pt-2 text-center">

                  <input type="button" class="btn btn-secondary px-4 ml-3" (click)="onClosePopup()" value="Cancel">
                </div>
              </div>
            </form>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>