<div class="row">
  <div class="col">
    <form class="form-inline">
      <input class="form-control no-right-border-radius" type="text" placeholder="Search here.." aria-label="Search">
      <button class="btn btn-primary no-left-border-radius">Search</button>
    </form>
  </div>
</div>


<div class="row">
  <div class="col py-3">
    <ag-grid-angular style="width: 100%; height: 600px;" class="ag-theme-balham" [rowData]="rowData"
      [columnDefs]="columnDefs">
    </ag-grid-angular>
  </div>
</div>
