table{
    width:100%;
    margin-left: 20px;
    
}

.butt{
    position: relative;
      border-radius: 10px;
      width:85px;
      background-color: #5BB4B0;
      color: white;
      border: none;
}
li{
    padding: 3px;
}
h3{
    color:rgb(94, 179, 228);font-style: italic; text-align: right;margin-left: 300px;
}