<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-new" role="tabpanel" aria-labelledby="pills-home-tab">
    <form #MasterForm="ngForm" [formGroup]="masterAccountForm" (keydown.enter)="$event.preventDefault()"
      (ngSubmit)="onSubmit()" class="full-height" class="">
      <h6 class="border border-primary p-2 mt-3 mb-4 bg-light text-white">Discount Details</h6>

      <div class="row">


        <div class="col-sm-4">
          <div class="form-group row">

            <label class="col-sm-4 col-form-label pr-0 text-right" style="white-space: nowrap;">Account Number<span
                class="text-danger">*</span></label>

            <div class="col-sm-8">
              <input type="text" formControlName="creditNumber" class="form-control" id="accountNumber"
                placeholder="Account Number">

              <div *ngIf="masterAccountForm.get('creditNumber')?.touched" class="error-msg-common text-danger">
                <div *ngIf="masterAccountForm.get('creditNumber').errors?.required">
                  * required field
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label pr-0 text-right">Master<span class="text-danger">*</span></label>

            <div class="col-sm-8">
              <ng-select id="addItemGroupCode" [items]="customersList" bindLabel="customerName"
                [(ngModel)]="selectedMaster" formControlName="customerId" placeholder="-- Select --"
                (keyup)="getCustomersDataByName($event)">
              </ng-select>

              <div *ngIf="masterAccountForm.get('customerId')?.touched" class="error-msg-common text-danger">
                <div *ngIf="masterAccountForm.get('customerId').errors?.required">
                  * required field
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label pr-0 text-right">Family</label>

            <div class="col-sm-8">
              <ng-select id="addItemGroupCode" [items]="customersList" bindLabel="customerName"
                [(ngModel)]="selectedFamily" [multiple]=true placeholder="-- Select --"
                (keyup)="getCustomersDataByName($event)" [ngModelOptions]="{standalone: true}" (change)="familySelected()">
              </ng-select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 ">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label pr-0 text-right">Credit Limit<span
                class="text-danger">*</span></label>

            <div class="col-sm-8">
              <input type="text" formControlName="creditLimit" class="form-control" id="creditLimit"
                placeholder="Credit Limit">

              <div *ngIf="masterAccountForm.get('creditLimit')?.touched" class="error-msg-common text-danger">
                <div *ngIf="masterAccountForm.get('creditLimit').errors?.required">
                  * required field
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label pr-0 text-right">Credit Days<span class="text-danger">*</span></label>

            <div class="col-sm-8">
              <input type="text" formControlName="creditDays" class="form-control" id="creditDays"
                placeholder="Credit Days">

              <div *ngIf="masterAccountForm.get('creditDays')?.touched" class="error-msg-common text-danger">
                <div *ngIf="masterAccountForm.get('creditDays').errors?.required">
                  * required field
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label pr-0 text-right">Credit Days Left<span
                class="text-danger">*</span></label>

            <div class="col-sm-8">
              <input type="text" formControlName="creditDaysLeft" class="form-control" id="creditDaysLeft"
                placeholder="Credit Days Left">

              <div *ngIf="masterAccountForm.get('creditDaysLeft')?.touched" class="error-msg-common text-danger">
                <div *ngIf="masterAccountForm.get('creditDaysLeft').errors?.required">
                  * required field
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label pr-0 text-right">Credit Limit Left<span
                class="text-danger">*</span></label>

            <div class="col-sm-8">
              <input type="text" formControlName="creditLimitLeft" class="form-control" id="creditLimitLeft"
                placeholder="Credit Limit Left">

              <div *ngIf="masterAccountForm.get('creditLimitLeft')?.touched" class="error-msg-common text-danger">
                <div *ngIf="masterAccountForm.get('creditLimitLeft').errors?.required">
                  * required field
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="form-group row">
        <div class="col-sm-12">
          <div class="col text-right">
            <input type="submit" value="Submit" class="btn btn-primary px-4 edit-btn">
            <input type="reset" (click)="resetMasterForm()" value="Reset" class="btn btn-primary px-4 edit-btn  ml-3">
          </div>
        </div>
      </div>
    </form>
    <h6 class="border border-primary p-2 mt-3 mb-4 bg-light text-white">Master Account Details</h6>
    <div class="form-group row">
      <div class="col-sm-12">
        <div class="col text-right">
          <input type="button" value="edit" class="btn btn-primary px-4 edit-btn"
            [disabled]="masterGridOptions?.api?.getSelectedRows()?.length === 0" (click)="editMaster()">
        </div>
      </div>
    </div>
    <ag-grid-angular [gridOptions]="masterGridOptions" style="width: 100%; height: 200px;" class="ag-theme-fresh"
      [rowData]="masterAccounts" (selectionChanged)="onSelectionChanged($event)">
    </ag-grid-angular>

    <h6 class="border border-primary p-2 mt-3 mb-4 bg-light text-white">Family Account Details</h6>
    <ag-grid-angular [gridOptions]="familyGridOptions" style="width: 100%; height: 200px;" class="ag-theme-fresh"
      [rowData]="familyAccounts">
    </ag-grid-angular>
  </div>
</div>
