@media (min-width: 590px) {
    .modal-dialog {
        max-width: 93%;
    }
    .itemSearchModal{
        background-color:rgba(0,0,0,0.6);
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:180vh;
    }
    
   /*  .modal-content {
    height: 629px;
    }
    .modal-footer {
    padding-top: 0px;
    } */
    /* .benificiary{
        margin-left: -280px;
    }
    #customerName
    {
        margin-left: -280px;
    }
    #policyName{
        margin-left: -280px;
    } */
}

