<div class="col left-menu p-0 border-right-lg bg-light">
  <div class="accordion">
    <div class="card bg-light">
      <div class="card-header p-0">
        <h2 class="mb-0 border-bottom border-white">
          <button id="masterItems" class="btn btn-link btn-block text-left py-2 px-3 text-white no-childern"
            [routerLink]="['/master/items']" type="button">
            <fa-icon [icon]="faCartPlus" class="mr-2"></fa-icon><span>Items</span>
          </button>
        </h2>
      </div>
      <div class="card-header p-0">
        <h2 class="mb-0 border-bottom border-white">
          <button id="masterSupplier" class="btn btn-link btn-block text-left py-2 px-3 text-white no-childern"
            [routerLink]="['/master/supplier']" type="button">
            <fa-icon [icon]="faTruck" class="mr-2"></fa-icon><span>Supplier</span>
          </button>
        </h2>
      </div>
      <div class="card-header p-0">
        <h2 class="mb-0 border-bottom border-white">
          <button id="masterItemSupplier" class="btn btn-link btn-block text-left py-2 px-3 text-white no-childern"
            [routerLink]="['/master/itemsuppliers']" type="button">
            <fa-icon [icon]="faAmbulance" class="mr-2"></fa-icon><span>Item-Supplier</span>
          </button>
        </h2>
      </div>
      <div class="card-header p-0">
        <h2 class="mb-0 border-bottom border-white">
          <button id="masterItemManufacturer" class="btn btn-link btn-block text-left py-2 px-3 text-white no-childern"
            [routerLink]="['/master/manufacturer']" type="button">
            <fa-icon [icon]="faIndustry" class="mr-2"></fa-icon><span>Manufacturer</span>
          </button>
        </h2>
      </div>
      <div class="card-header p-0">
        <h2 class="mb-0 border-bottom border-white">
          <button id="masterProvider" class="btn btn-link btn-block text-left py-2 px-3 text-white no-childern"
            [routerLink]="['/master/provider']" type="button">
            <fa-icon [icon]="faFirstAid" class="mr-2"></fa-icon><span>Provider</span>
          </button>
        </h2>
      </div>
      <div class="card-header p-0">
        <h2 class="mb-0 border-bottom border-white">
          <button id="masterEmployee" class="btn btn-link btn-block text-left py-2 px-3 text-white no-childern"
            [routerLink]="['/master/employee']" type="button">
            <fa-icon [icon]="faUserNurse" class="mr-2"></fa-icon><span>Employee</span>
          </button>
        </h2>
      </div>
      <div class="card-header p-0">
        <h2 class="mb-0 border-bottom border-white">
          <button id="masterCustomer" class="btn btn-link btn-block text-left py-2 px-3 text-white no-childern"
            [routerLink]="['/master/customer']" type="button">
            <fa-icon [icon]="faUser" class="mr-2"></fa-icon><span>Customer</span>
          </button>
        </h2>
      </div>
      <div class="card-header p-0">
        <h2 class="mb-0 border-bottom border-white">
          <button id="masterHospital" class="btn btn-link btn-block text-left py-2 px-3 text-white no-childern"
            [routerLink]="['/master/hospital']" type="button">
            <fa-icon [icon]="faProcedures" class="mr-2"></fa-icon><span>Hospital</span>
          </button>
        </h2>
      </div>
      <div class="card-header p-0">
        <h2 class="mb-0 border-bottom border-white">
          <button id="masterPharmacy" class="btn btn-link btn-block text-left py-2 px-3 text-white no-childern"
            [routerLink]="['/master/pharmacy']" type="button">
            <fa-icon [icon]="faPills" class="mr-2"></fa-icon><span>Pharmacy</span>
          </button>
        </h2>
      </div>
      <div class="card-header p-0">
        <h2 class="mb-0 border-bottom border-white">
          <button id="masterTermsAndConditions" class="btn btn-link btn-block text-left py-2 px-3 text-white no-childern"
            [routerLink]="['/master/companyTerms']" type="button">
            <fa-icon [icon]="faAsterisk" class="mr-2"></fa-icon><span>Terms and Conditions</span>
          </button>
        </h2>
      </div>
      <div class="card-header p-0">
        <h2 class="mb-0 border-bottom border-white">
          <button id="masterInsurance" class="btn btn-link btn-block text-left py-2 px-3 text-white no-childern"
            [routerLink]="['/master/insurance']" type="button">
            <fa-icon [icon]="faNotesMedical" class="mr-2"></fa-icon><span>Insurance</span>
          </button>
        </h2>
      </div>
      <div class="card-header p-0">
        <h2 class="mb-0 border-bottom border-white">
          <button id="masterMembership" class="btn btn-link btn-block text-left py-2 px-3 text-white no-childern"
            [routerLink]="['/master/membership']" type="button">
            <fa-icon [icon]="faLaptopMedical" class="mr-2"></fa-icon><span>Membership</span>
          </button>
        </h2>
      </div>
      <div class="card-header p-0">
        <h2 class="mb-0 border-bottom border-white">
          <button id="configuration" class="btn btn-link btn-block text-left py-2 px-3 text-white no-childern"
            [routerLink]="['/master/config']" type="button">
            <i class="fa fa-cogs" aria-hidden="true"></i><span> Configuration</span>
          </button>
        </h2>
      </div>
      <div class="card-header p-0">
        <h2 class="mb-0 border-bottom border-white">
          <button id="configuration" class="btn btn-link btn-block text-left py-2 px-3 text-white no-childern"
            [routerLink]="['/master/account']" type="button">
            <i class="fa fa-cogs" aria-hidden="true"></i><span> Account</span>
          </button>
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="col-lg right-content bg-extra-light p-0">
  <div class="p-4">
    <router-outlet></router-outlet>
  </div>
</div>
