
<div  class="container">
   
   <div class="heading">
      <h1>CORONA VIRUS LIVE STATUS (COVID-19)</h1>
   </div>
   <div class="border"></div>
   <div style=" margin-top: 30px;margin-left:25px;">
      <highcharts-chart 
   [Highcharts] = "highcharts" 
   [options] = "chartOptions2"   
   >
   </highcharts-chart>  
   </div>
  
   <div class="middle" style="margin-top: 20px;"></div>
   <div >
      <highcharts-chart class="bar" 
      [Highcharts] = "highcharts" 
      [options] = "chartOptions3"   
      style="width:500px;"
     >
   </highcharts-chart>
   </div>
</div>






