<form class="" [formGroup]="itemGenericForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="onSubmit()">
  <h6 class="border border-primary p-2 mt-3 mb-4 bg-light text-white">Generic Details</h6>

  <div class="row">
    <div class="col-lg-4">
      <div class="form-group row">
        <label id="itemGenericLabelCode" for="" class="col-sm-3 col-form-label pr-0 text-right">Code <span
            class="text-danger">*</span></label>
        <div class="col-sm-9">
          <input id="itemGenericInputCode" type="text" class="form-control" formControlName="genericCode"
            placeholder="Generic Code">
          <div *ngIf="f.genericCode?.touched" class="error-msg-common text-danger">
            <div *ngIf="f.genericCode.errors?.required">
              Required Field
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label id="itemGenericLabelDesc" for="" class="col-sm-3 col-form-label pr-0 text-right">Desc <span
            class="text-danger">*</span></label>
        <div class="col-sm-9">
          <input id="itemGenericInputDesc" type="text" class="form-control" formControlName="genericName"
            placeholder="Generic Description">
          <div *ngIf="f.genericName?.touched" class="error-msg-common text-danger">
            <div *ngIf="f.genericName.errors?.required">
              Required Field
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group row">
        <label id="itemGenericLabelGCode" for="" class="col-sm-3 col-form-label pr-0 text-right">Group Cd
        </label>
        <div class="col-sm-9">
          <ng-select id="itemGenericInputGCode" [items]="itemGroups" bindLabel="groupCode"
            [(ngModel)]="selectedGroupCode" (change)="onGroupCodeChanged($event)" [ngModelOptions]="{standalone: true}"
            placeholder="-- Select --">
          </ng-select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12 d-flex align-items-center justify-content-end">
          <div class="d-inline mr-3">
            <label id="itemGenericLabelType" class="mb-0">Item Type</label>
          </div>
          <div class="custom-control d-inline custom-radio mr-3">
            <input name="medicalOrNonMedical" value="M" type="radio" formControlName="medicalOrNonMedical"
              class="custom-control-input" id="me">
            <label id="itemGenericLabelMedical" class="custom-control-label" for="me">Medical</label>
          </div>
          <div class="custom-control d-inline custom-radio">
            <input name="medicalOrNonMedical" value="N" type="radio" formControlName="medicalOrNonMedical"
              class="custom-control-input" id="non-me">
            <label id="itemGenericLabelNonMedical" class="custom-control-label" for="non-me">Non Medical</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 d-flex align-items-center justify-content-end">
      <div class="form-group row">
        <div class="col-sm-12 d-flex">
          <div class="d-inline mr-3">
            <label id="itemGenericLabelStatus" class="mb-0">Status</label>
          </div>
          <div class="custom-control d-inline custom-radio mr-3">
            <input name="activeS" value="Y" formControlName="activeS" type="radio" class="custom-control-input" id="ac">
            <label id="itemGenericLabelActivate" class="custom-control-label" for="ac">Activate</label>
          </div>
          <div class="custom-control d-inline custom-radio">
            <input name="activeS" value="N" formControlName="activeS" type="radio" class="custom-control-input"
              id="de-ac">
            <label id="itemGenericLabelDeActivate" class="custom-control-label" for="de-ac">De Activate</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col mb-3 pt-2 text-center">
      <button (click)="onSubmit()" type="submit" [disabled]="checkFormDisability()" class="btn btn-primary px-4"
        id="mu-adduser-save">
        Save
      </button>
      <input type="button" class="btn btn-secondary px-4 ml-3" id="mu-adduser-cancel"
        (click)="reset();itemGenericForm.controls.medicalOrNonMedical.setValue('M');itemGenericForm.controls.activeS.setValue('Y')"
        value="Cancel" />

    </div>
  </div>

</form>
<ng4-loading-spinner [loadingText]="'Please wait...'" [timeout]="400000000"> </ng4-loading-spinner>