$white: #fff;
$primary: #10847e;
$secondary: #00a69c;
$light: #5bb4ba;
$light-gray: #e9ecef;
$very-light: #e8feff;

$navbar-dark-color: rgba($white, 1);
$navbar-dark-hover-color: rgba($white, 1);
$font-size-base: .825rem;
$nav-pills-border-radius: 0;
$card-border-width: 0;
$input-bg: $very-light;
$input-border-color: $primary;
$input-focus-bg: $white;
$nav-tabs-border-color: $light;
$nav-tabs-link-hover-border-color: $light $light $nav-tabs-border-color;
$nav-tabs-link-active-border-color: $light;
$nav-tabs-link-active-color: $primary;