.table-todaysales-border{
    border: 3px solid rgba(16, 132, 126, 0.25);
    margin: 3px;
    background-image: linear-gradient( #e6ffff
    ,	 #006666

    );
    border-radius: 25px;
    text-align: center;
    font-size: 16px;
    box-shadow: 2px 2px 2px 2px #888;
}
.values{
    color: white; font-weight:600; font-size: 25px;
    line-height: 11px;
    font-family:serif;
}
p{
    font-weight: bold;
    
}