div#approvedModal {
    padding-right: 227px !important;
}
.module_box {
    padding: 12px;
   /*  border: 1px solid #ddd; */
    border-radius: 3px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: border-color 0.25s linear;
    -webkit-transition: border-color 0.25s linear;
    -moz-transition: border-color 0.25s linear;
    -o-transition: border-color 0.25s linear;
  }
  .rhythmMargin1 {
    margin-bottom: -53px !important;
  /*   width: 70%; */
    margin: 0 auto;
    margin-top: 44px !important;
    margin-left: 200px;
  }