<h6 class="border border-primary p-2 mt-3 mb-4 bg-light text-white">Supplier Quotation Details</h6>
<div class="row">
  <div class="col-sm-4">
    <form class="form-inline">
      <input (keyup)="OnSupplierQtnSearch($event)"
        class="form-control no-right-border-radius" type="text" placeholder="Search here.." aria-label="Search">
      <button class="btn btn-primary no-left-border-radius">Search</button>
    </form>
  </div>

  <div class="col-lg-4">
    <div class="col-sm-9">
      <ng-select [items]="suppliersListUnderQuotation" bindLabel="name" placeholder="Select Supplier"
        [(ngModel)]="selectedSupplier" [ngModelOptions]="{standalone: true}" (change)="onSupplierChange($event)">
      </ng-select>
    </div>

  </div>
  <div class="col-sm-4 " style="padding-left:100px">
    <button class="btn btn-primary" (click)="onPrint()">Print</button>

    <button class="btn btn-primary ml-2" onclick="document.getElementById('getFile').click()">Upload Excel Attachment</button>
    <input type='file' id="getFile" (change)="onChange($event)" #inputFile style="display:none">
    <span>{{excelFile?excelFile.name:''}}</span>
    <div *ngIf="isExcelFile === false" class="error-msg-common text-danger">
      This is not an Excel file
    </div>
  </div>
</div>

<div class="row grid-area">
  <div class="col py-3">
    <ag-grid-angular class="ag-theme-balham" style="width: 100%; height: 600px;"
      [gridOptions]="pendingVendorApprovalGridOptions" [getRowNodeId]="getRowNodeId" [rowData]="rowData"
      (gridReady)="onGridReady($event)" (cellClicked)='onCellClicked($event)' [rowSelection]="rowSelection"
      (selectionChanged)="onSelectionChanged($event)">
    </ag-grid-angular>
  </div>
</div>

<div class="row">
  <div class="col-12 text-center">
    <button [disabled]="pendingVendorApprovalGridOptions?.api?.getSelectedRows()?.length === 0 || !selectedSupplier || !excelFile"
    class="btn btn-primary mr-2" (click)="updateQuotationItems()">Update Price</button>
    <button [disabled]="pendingVendorApprovalGridOptions?.api?.getSelectedRows()?.length === 0"
     class="btn btn-primary ml-3" (click)="approve()">Release To PO</button>
   <!--  <button class="btn btn-secondary" (click)="reject()">Reject</button>  -->
    <button [disabled]="pendingVendorApprovalGridOptions?.api?.getSelectedRows()?.length === 0 || reason.length == 0"
    (click)="reject()" class="btn btn-secondary px-4 ml-3 return-btn">Reject</button>
  </div>
</div>

<div class="row grid-area">
  <div class="col-4"></div>
  <div class="col-4 margin-auto">
    <div class="form-group row">
      <label for="" class="col-12 col-form-label pr-0 text-center" id="pendingRequestLabelapprReason">Reason for Rejection <span
          class="text-danger">*</span></label>
      <div class="col-12">
        <textarea [(ngModel)]="reason" class="form-control min-height-83" id="pendingRequestapprReason"
          placeholder="Reason for rejection.." rows="3" ></textarea>
      </div>
    </div>
  </div>
  <div class="col-4"></div>
</div>

<div class="modal fade" id="supplierQtnPendingModal" tabindex="-1" role="dialog" aria-labelledby="pendingLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Quotation Details</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">


        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

            <form class="">
              <h6 class="border border-primary p-2 mt-3 mb-4 bg-light text-white">Quotation Details</h6>

              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group row">
                    <label id="requestQuotLabelNumber" for=""
                      class="col-sm-3 col-form-label pr-0 text-right">Number</label>
                    <div class="col-sm-9">
                      <input type="text" disabled class="form-control" id="requestQtNumber"
                        placeholder="Quotation Number">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label id="requestQuotLabelRequested" for=""
                      class="col-sm-3 col-form-label pr-0 text-right">Requested</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="requestQtRequested" placeholder="Created By" value=""
                        disabled>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label id="requestQuotLabelCreated" for=""
                      class="col-sm-3 col-form-label pr-0 text-right">Created</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="requestQtCreated" placeholder="Created By" value=""
                        disabled>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group row">
                    <label id="requestQuotLabelDated" for=""
                      class="col-sm-3 col-form-label pr-0 text-right">Date</label>
                    <div class="col-sm-9">
                      <input disabled type="date" class="form-control" id="requestQtDated" placeholder="Quotation Date">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label id="requestQuotLabelExpiry" for=""
                      class="col-sm-3 col-form-label pr-0 text-right">Expiry</label>
                    <div class="col-sm-9">
                      <input disabled type="date" class="form-control" id="requestQtExpiry"
                        placeholder="Quotation Expiry Date">
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">

                  <div class="form-group row">
                    <label id="requestQuotLabelDesc" for="" class="col-sm-3 col-form-label pr-0 text-right">Desc</label>
                    <div class="col-sm-9">
                      <textarea class="form-control min-height-83" id="requestQtDesc"
                        placeholder="Quotation Description" disabled></textarea>
                    </div>
                  </div>
                </div>
              </div>

              <h6 class="border border-primary p-2 mt-3 mb-4 bg-light text-white">Item Details</h6>


              <div class="row">
                <div class="col py-3">
                  <ag-grid-angular id="quotGrid" style="width: 100%; height: 200px;" class="ag-theme-balham"
                    [gridOptions]="supplierQtnPendingGridOptions"  [rowData]="supplierQtnPendingRowData">
                  </ag-grid-angular>
                </div>
              </div>

              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <div class="form-group row">
                    <label for="" class="col-12 col-form-label pr-0 text-center">Remarks </label>
                    <div class="col-12">
                      <textarea class="form-control min-height-83" id="remarks" 
                        placeholder="Remarks"></textarea>
                    </div>
        
                  </div>
                </div>
              </div>

            </form>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<ng4-loading-spinner [loadingText]="'Please wait...'" [timeout]="400000000"> </ng4-loading-spinner>